h1 {
  text-align: center;
  margin: 1em 0;
}

.container {
  width: 90%;
  max-width: 1400px;
}

.dashboard {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.side {
  width: 40%;
  margin-left: 1em;
}
