body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

text {
  text-anchor: middle;
}

.axis-tick-text {
  font-size: 1rem;
}

.x-axis-tick-text {
  transform: translateY(16px);
}

.y-axis-tick-text {
  text-anchor: end;
  transform: translate(42px, 4px);
}
