body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

text {
  text-anchor: middle;
}

.text-anchor-start {
  text-anchor: start;
}

.axis-tick-text {
  font-size: 1rem;
}

.x-axis-tick-text {
  transform: translateY(16px);
}

.y-axis-tick-text {
  text-anchor: end;
  transform: translate(42px, 4px);
}

.legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.legend-title {
  font-size: 1em;
  text-align: center;
}

.legend-element {
  display: flex;
  align-items: center;
}

.legend-element p {
  margin-bottom: 0;
  padding-left: 0.25em;
  padding-right: 1em;
}

.legend-bubble {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
}